<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanchong.mobile.mapper.AttachmentPostMapper" >
  <resultMap id="BaseResultMap" type="com.lanchong.mobile.entity.AttachmentPost" >

  </resultMap>

<select id="getNextPosition" resultType="Integer">
    select ifnull(position,1) from ldp_mobile_attachment_post where aid = #{aid} order by create_time desc limit 1
</select>
    <select id="getPosts" resultMap="BaseResultMap">
        SELECT * from ldp_mobile_attachment_post where aid = #{aid} order by create_time desc
    </select>
</mapper>