<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanchong.mobile.mapper.AttachmentFavorMapper" >
  <resultMap id="BaseResultMap" type="com.lanchong.mobile.entity.AttachmentFavor" >

  </resultMap>
    <update id="addViews">
        update ldp_mobile_attachment_favor set views = ifnull(views,0) + 1 where
    </update>
    <delete id="deleteFavor">
    DELETE from ldp_mobile_attachment_favor where pid= #{pid} and idType =#{idType} and userId = #{uid}
  </delete>
  <select id="getByPid" resultMap="BaseResultMap">
      SELECT * from ldp_mobile_attachment_favor where pid= #{pid} and idType =#{idType}
    </select>
  <select id="getFavorCount" resultType="java.lang.Long">
      SELECT count(id) from ldp_mobile_attachment_favor where pid= #{pid} and idType =#{idType}
  </select>


</mapper>