<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanchong.mobile.mapper.AttachmentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lanchong.mobile.entity.AttachmentInfo" >

  </resultMap>
    <update id="addViews">
        update ldp_mobile_attachment set views = ifnull(views,0) + 1 where id=#{id}
    </update>

    <select id="searchVideo" resultMap="BaseResultMap">
      select * from ldp_mobile_attachment
      <where>
          a_type = #{aType}
          <if test="keywords !=null and keywords != ''">
            and   (name like '%${keywords}%' or marks like '%${keywords}%')
          </if>
      </where>
      order by create_tm desc
    </select>

  <!--<select id="searchDoc" resultMap="BaseResultMap">
      select * from ldp_mobile_attachment
      <where>
          doc = 1
          <if test="keywords !=null and keywords != ''">
              and   (name like '%${keywords}%' or marks like '%${keywords}%')
          </if>
      </where>
      order by create_tm desc
    </select>-->
    <select id="getMyFavors" resultMap="BaseResultMap">
        SELECT * from ldp_mobile_attachment where a_type = #{aType} and author_id in( select followuid from ldp_home_follow where uid=#{uid} )
    </select>
</mapper>