<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanchong.common.mapper.MemberFieldForumMapper" >
  <resultMap id="BaseResultMap" type="com.lanchong.common.entity.MemberFieldForum" >
    <!--
      WARNING - @mbg.generated
    -->
  </resultMap>
  <insert id="insert2">
     INSERT INTO ldp_common_member_field_forum(uid,medals,sightml,groupterms,`groups`) VALUES(#{uid},#{medals},#{sightml},#{groupterms},#{groups});
  </insert>
  <update id="setSignhtml">
    update ldp_common_member_field_forum set sightml = #{sign} where uid = #{uid}
  </update>
</mapper>