<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanchong.forum.mapper.PostMapper" >
  <resultMap id="BaseResultMap" type="com.lanchong.forum.entity.Post" >
    <!--
      WARNING - @mbg.generated
    -->
  </resultMap>
  <select id="findByAuthorid" resultType="com.lanchong.forum.entity.Post">
    select pid,fid,tid,author,authorid,subject,dateline,message,anonymous,tags,rate,ratetimes,comment
    from ldp_forum_post
    where authorid = #{authorid}
  </select>
    <select id="findMaxId" resultType="java.lang.Integer">
      select ifnull(max(pid),0) from  ldp_forum_post
    </select>
</mapper>