<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanchong.forum.mapper.PostTableidMapper" >
  <resultMap id="BaseResultMap" type="com.lanchong.forum.entity.PostTableid" >
    <!--
      WARNING - @mbg.generated
    -->
  </resultMap>

  <select id="findMaxId" resultType="java.lang.Integer">
    select ifnull(max(pid),0) from  ldp_forum_post_tableid
  </select>
</mapper>